@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .tab-center {
    @apply w-full;

    th,
    td {
      @apply text-center;
    }
  }

  .slim-webkit-scroll {
    @apply overflow-y-auto;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      display: none;
    }

    &::-webkit-scrollbar-button {
      display: none;
    }

    &::-webkit-scrollbar-thumb {
      background-color: white;
      border-radius: 5px;
      width: 5px !important;
    }
  }
}
