@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .icon {
    height: inherit;
    width: inherit;
    color: inherit;
    display: block;
    object-fit: contain;
  }
}
